<body>
  
    <!-- <div id="bar1" class="col-mt-12 mb-4 offset-4 mt-4">
      
<h1>Frequently Asked Questions</h1>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="button" id="button-addon1">Button</button>
    </div>
    <input  id="faqbar"type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
  </div>


</div> -->
<h1 id="font">Frequently Asked Questions</h1>

<div class="input-group mb-3">
    <div class="input-group-prepend">
      <button id="faqbar" class="btn btn-outline-secondary" type="button" id="button-addon1"><h4><b>Go</b></h4></button>
    </div>
    <input  id="faqbar"type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
  </div>
  


 