
<nav class="navbar navbar-expand-lg">
    <!-- <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
      </div> -->
  <a class="navbar-brand" href="#"><img class="logo"src="../../assets/Indigologo.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
  
        <div class="row">
                <div class="col-lg-12">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go</button>
                    </span>
                    <input type="text" class="form-control" placeholder="Search FAQs">
                  </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
              </div>
    </ul>
    <span class="navbar-text">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <a class="nava"class="nav-link" routerLink="/book">Home</a>
            </li>
          <li class="nav-item">
              <div class="dropdown">
                  <button class="btn btn-default dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Book
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    
                    <table class="table table-bordered">
                      <tr>
                        <th><a href="#"><i class="fas fa-plane">  </i> Book A flight></a> </th>
                        <th> </th>
                        <th> </th>
                        <th><a href="#"><i class="fas fa-plane">  </i>Web Check-in></a> </th>
                        
                        <th> </th>
                        <th> </th>
                        
                        <th> <a href="#"><i class="fas fa-fighter-jet"></i>Flight Status></a> </th>
                      </tr>
                      <tr>
                          <th><a href="#"><i class="fas fa-fighter-jet"></i>View/Edit Booking></a> </th>
                          <th> </th>
                          <th> </th>
                          <th> <a href="#"><i class="fas fa-fighter-jet"></i>Visa Information></a> </th>
                          
                          <th> </th>
                          <th> </th>
                          
                          <th><a href="#"><i class="fas fa-fighter-jet"></i>Group Booking ></a> </th>
                        </tr>
                      
                      <tr>
                          <th><a href="#">Information ></a></th>
                          
                          <th> </th>
                          <th> </th>
                          <th><a href="#"><i class="fas fa-fighter-jet"></i>6E Fares ></a> </th>
                         
                          
                          <th> </th>
                          <th> </th>
                          
                          <th> <a href="#"><i class="fas fa-fighter-jet"></i>Destinations ></a> </th>
                        </tr>
                        <tr>
                            <td><a href="#">About Booking  online</a> </td>
                            <th> </th>
                            <th> </th>
                            <td> <a href="#">6E SME</a> </td>
                            
                            <th> </th>
                            <th> </th>
                           
                            <td> <a href="#">Delhi</a> </td>
                          </tr>
                          <tr>
                              <td><a href="#">Cheap Air Tickets</a> </td>
                              <th> </th>
                              <th> </th>
                              <td> <a href="#">Flexi Fare</a> </td>
                              
                              <th> </th>
                              <th> </th>
                              
                              <td> <a href="#">Mumbai</a> </td>
                            </tr>
                            <tr>
                                <td><span class="glyphicon glyphicon-search" aria-hidden="true"></span><a href="#">New flights</a> </td>
                                <th> </th>
                                <th> </th>
                                <td> <a href="#">Lite Fare</a> </td>
                                
                                <th> </th>
                                <th> </th>
                               
                                <td><a href="#">Bengaluru</a> </td>
                              </tr>
                              <tr>
                                  <td><a href="#">Connecting flights</a> </td>
                                  <th> </th>
                                  <th> </th>
                                  <td> <a href="#">Student Discount</a> </td>
                                  
                                  <th> </th>
                                  <th> </th>
                                 
                                  <td><a href="#">Abu Dhabi</a> </td>
                                </tr>
                                <tr>
                                    <td><a href="#">Plan B</a> </td>
                                    <th> </th>
                                    <th> </th>
                                    <td> <a href="#">Senior Citizen</a> </td>
                                    
                                    <th> </th>
                                    <th> </th>
                                   
                                    <td><a href="#">Phuket</a> </td>
                                  </tr>
                                  <tr>
                                      <td><a href="#">Weather advisory</a> </td>
                                      <th> </th>
                                      <th> </th>
                                      <td> <a href="#">Armed Forces</a> </td>
                                      
                                      <th> </th>
                                      <th> </th>
                                      
                                      <td><a href="#">Explore all destinations</a> </td>
                                    </tr>
                                    <tr>
                                        <td><a href="#">Flight schedule</a> </td>
                                        <th> </th>
                                        <th> </th>
                                        <td></td>
                                        
                                        <th> </th>
                                        <th> </th>
                                        
                                        <td></td>
                                      </tr>
                                      <tr>
                                          <td><a href="#">Fees and charges</a> </td>
                                          <th> </th>
                                          <th> </th>
                                          <td> </td>
                                          
                                          <th> </th>
                                          <th> </th>
                                          
                                          <td></td>
                                        </tr>
                                        <tr>
                                            <td><a href="#">Travel Assistance</a> </td>
                                            <th> </th>
                                            <th> </th>
                                            <th> <a href="#"><i class="fas fa-fighter-jet"></i>6E Xtras ></a> </th>
                                            
                                            <th> </th>
                                            <th> </th>
                                            
                                            <th><a href="#"><i class="fas fa-fighter-jet"></i>Get Inspired ></a> </th>
                                          </tr>
                                          <tr>
                                              <td><a href="#">Conditions of carriage</a> </td>
                                              <th> </th>
                                              <th> </th>
                                              <td> <a href="#">IndiGo Early</a> </td>
                                              
                                              <th> </th>
                                              <th> </th>
                                              
                                              <td><a href="#">Art & Festival</a> </td>
                                              
                                            </tr>
                                            <tr>
                                                <td><a href="#">Interative route map</a> </td>
                                                <th> </th>
                                                <th> </th>
                                                <td> <a href="#">Gift Vouchers</a> </td>
                                                
                                                <th> </th>
                                                <th> </th>
                                                
                                                <td><a href="#">Food tripping</a> </td>

                                              </tr>
                                              <tr>
                                                  <td> </td>
                                                  <th> </th>
                                                  <th> </th>
                                                  <td><a href="#">6E Special</a> </td>
                                                  
                                                  
                                                  <th> </th>
                                                  <th> </th>
                                                  
                                                  <td></td>
  
                                                </tr>
                                              

                                        
                      </table>
                  </ul>

                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <button class="btn btn-default dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Manage
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      
                      <table class="table table-bordered">
                        <tr>
                          <th><i class="fab fa-accessible-icon"></i><a href="#">Book A Ticket ></a> </th>
                          <th> </th>
                          <th> </th>
                          <th><a href="#">Book A Ticket ></a> </th>
                          
                          <th> </th>
                          <th> </th>
                          
                          <th> <a href="#">Book A Ticket ></a> </th>
                        </tr>
                        <tr>
                            <th><a href="#">Book A Ticket ></a> </th>
                            <th> </th>
                            <th> </th>
                            <th> <a href="#">Web CheckIn</a> </th>
                            
                            <th> </th>
                            <th> </th>
                            
                            <th><a href="#">Book A Ticket ></a> </th>
                          </tr>
                        <tr><th><a href="#">Information ></a></th></tr>
                        <tr>
                            <th><a href="#">Book A Ticket ></a> </th>
                            <th> </th>
                            <th> </th>
                            <th> <a href="#">Web CheckIn</a> </th>
                            
                            <th> </th>
                            <th> </th>
                            
                            <th><a href="#">Book A Ticket ></a> </th>
                          </tr>
                          <tr>
                              <th><a href="#">Book A Ticket ></a> </th>
                              <th> </th>
                              <th> </th>
                              <th> <a href="#">Web CheckIn</a> </th>
                              
                              <th> </th>
                              <th> </th>
                             
                              <th> <a href="#">Book A Ticket ></a> </th>
                            </tr>
                            <tr>
                                <th><a href="#">Book A Ticket ></a> </th>
                                <th> </th>
                                <th> </th>
                                <th> <a href="#">Web CheckIn</a> </th>
                                
                                <th> </th>
                                <th> </th>
                                
                                <th> <a href="#">Book A Ticket ></a> </th>
                              </tr>
                              <tr>
                                  <th><span class="glyphicon glyphicon-search" aria-hidden="true"></span><a href="#">Book A Ticket ></a> </th>
                                  <th> </th>
                                  <th> </th>
                                  <th> <a href="#">Web CheckIn</a> </th>
                                  
                                  <th> </th>
                                  <th> </th>
                                 
                                  <th><a href="#">Book A Ticket ></a> </th>
                                </tr>
                                <tr>
                                    <th><a href="#">Book A Ticket ></a> </th>
                                    <th> </th>
                                    <th> </th>
                                    <th> <a href="#">Web CheckIn</a> </th>
                                    
                                    <th> </th>
                                    <th> </th>
                                   
                                    <th><a href="#">Book A Ticket ></a> </th>
                                  </tr>
                                  <tr>
                                      <th><a href="#">Book A Ticket ></a> </th>
                                      <th> </th>
                                      <th> </th>
                                      <th> <a href="#">Web CheckIn</a> </th>
                                      
                                      <th> </th>
                                      <th> </th>
                                     
                                      <th><a href="#">Book A Ticket ></a> </th>
                                    </tr>
                                    <tr>
                                        <th><a href="#">Book A Ticket ></a> </th>
                                        <th> </th>
                                        <th> </th>
                                        <th> <a href="#">Web CheckIn</a> </th>
                                        
                                        <th> </th>
                                        <th> </th>
                                        
                                        <th><a href="#">Book A Ticket ></a> </th>
                                      </tr>
                                      <tr>
                                          <th><a href="#">Book A Ticket ></a> </th>
                                          <th> </th>
                                          <th> </th>
                                          <th> <a href="#">Web CheckIn</a> </th>
                                          
                                          <th> </th>
                                          <th> </th>
                                          
                                          <th><a href="#">Book A Ticket ></a> </th>
                                        </tr>
                        </table>
                    </ul>
  
                  </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/offers">Offers</a>
                </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/faq">FAQS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/speciala">Special Assistance</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/plogin">Partner Login</a>
      </li>
    
      <li class="nav-item">
          <div class="dropdown">
              <!-- Button trigger modal -->
<button type="button" id="btn1" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Login
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLongTitle">Login Page</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class="col-mt-7 mb-4 offset-4 mt-4">
      
           
            
            <form action="">
              <div class="form-group">
                <label for="username">username</label>
                <input id="ui" type="text"name="username"class="form-control"id="username"/>
                <!-- <div class="alert alert-danger mt-2"
                *ngIf="username.touched && username.invalid">
              <p *ngIf="username.errors.required">this field is required</p>
              <p *ngIf="username.errors.minlength">min. 3 char</p>
              <p *ngIf="username.errors.pattern">match not found</p>
              </div> -->
              </div>
              
              
              
              <div  class="form-group">
                <label for="password">Password</label>
                <input  id="pi" type="password"class="form-control"id="password">
        
              </div>
              
              
              <div class="form-group">
                
                <input type="submit"value="submit"
                [disabled]="form.invalid"
                class="btn btn-primary btn-lg btn-block float-right">
        
              </div>
              
            </form>
          
        </div>
          
        
      </div>
      
    </div>
  </div>
</div>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                 
                </ul>

              </div>
        
                
    </li>
      <li class="nav-item">
          <div class="dropdown">
              <button class="btn btn-default dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Map
                <span class="caret"></span>
              </button>
              <ul id="map"class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <div id="map-container-google-3" class="z-depth-1-half map-container-3" height="600px" width="500px">
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d15481537.365820915!2d73.75638666787033!3d23.709553601596944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sairport+in+india!5e0!3m2!1sen!2sin!4v1553443741272" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>"
          
                    </div>
                </ul>

              </div>
        
                
    </li>
    
      </ul>
    </span>
  </div>
  
  
</nav>
    
  







    