<section class="col-md-4 offset-8 card mt-4 ml-4 ">
  <div class="row">
<div class="col-md-12">
<div class="container card-body">
<nav class="navbar navbar-light bg-light padding">
  <form class="form-inline">
    <button class="btn  btn-outline-secondary mr-2" type="button">Book Flight</button> 
    <button class="btn btn-outline-secondary mr-2" type="button">Check-in</button> 
    <button class="btn btn-outline-secondary mr-2" type="button">FlightStatus</button> 
    <button class="btn btn-outline-secondary mr-2" type="button">Edit Booking</button>
  </form>
</nav>
</div>
</div>
</div>
  <!-- <form>
    <div class="row justify-content-around" style="margin-left:auto;padding: 2%">
      <div class="col-md-4">
        <input type="radio" name="OneWay" value="OneWay" >One Way
      </div>
      <div class="col-md-4">
        <input type="radio" name="OneWay" value="RoundTrip">Round Trip
      </div>
      <div class="col-md-4">
        <input type="radio" name="OneWay" value="Multicity">Multi-city
      </div>
    </div>
  </form>
   -->
  <!-- <div class="container">
  <div class="row justify-content-around" style="margin-left:auto;padding: 2%">
        <div class="col-md-4" style="margin-left:-8%;" >
          <div class="ig-input-group field-float" style="width: 160px">
          <p>from</p>
          <select class="form-control or-src-city"  >
              <option>Indian</option>
              <option>US</option>
              <option>Thailand</option>
            </select>  </div>
         </div>
         
        <div class="col-md-2">
            <h5></h5>
        </div>
        <div class="col-md-4" >
          <div class="ig-input-group field-float" style="width:160px;margin-left: -50%">
          <p>To</p>
          <select class="form-control or-src-city"  >
              <option>Indian</option>
              <option>US</option>
              <option>Thailand</option>
            </select> 
          </div>        
        </div>
    </div>
  </div> -->
  <!-- <div class="container">
      <div class="row justify-content-around" style="margin-left:auto;padding: 2%">
            <div class="col-md-4" style="margin-left:-8%;" >
              <div class="ig-input-group field-float" style="width: 160px">
              <p>Departure Date</p>
              <input type="date" autocomplete="off" name="or-src" data-parsley-validate-if-empty="" data-parsley-airport="true" data-parsley-airport-message="Please select a Source" placeholder="From" class="form-control or-src-city">
            </div>
            </div>
            <div class="col-md-2">
              <i class="activeColor disableColor icon-swap or-station-swap touch-effect"></i>
            </div>
            <div class="col-md-4" >
              <div class="ig-input-group field-float" style="width:160px;margin-left: -50%">
              <p>Return Date</p>
              <input type="date" autocomplete="off" name="or-src" data-parsley-validate-if-empty="" data-parsley-airport="true" data-parsley-airport-message="Please select a Source" placeholder="To" class="form-control or-src-city">
            </div>        
            </div>
        </div>
      </div> -->
      <!-- <div class="container" >
          <div class="row justify-content-around" style="margin-left:auto;padding: 2%">
                <div class="col-md-4" style="margin-left:-8%;" >
                  <div class="ig-input-group field-float" style="width: 160px">
                  <p>Passenger(s)</p>
                  <input type="text" autocomplete="off" name="or-src" data-parsley-validate-if-empty="" data-parsley-airport="true" data-parsley-airport-message="Please select a Source" placeholder="Number of Passenger" class="form-control or-src-city">
                </div>
                </div>
                <div class="col-md-2">
                  <i class="activeColor disableColor icon-swap or-station-swap touch-effect"></i>
                </div>
                <div class="col-md-4" >
                  <div class="ig-input-group field-float" style="width:160px;margin-left: -50%">
                  <p>Pay in (Currency)</p>
                <select class="form-control or-src-city"  >
                  <option>Indian</option>
                  <option>US</option>
                  <option>Thailand</option>
                </select> 
                </div>        
                </div>
            </div>
          </div> -->
          <!-- <form>
              <div class="row justify-content-around" style="margin-left:auto;padding: 2%">
                <div class="col-md-4">
                  <input type="radio" name="OneWay" value="OneWay" >Armed Forces
                </div>
                <div class="col-md-4">
                    <input type="radio" name="OneWay" value="RoundTrip">Senior citizen
                  </div>
                  <div class="col-md-4">
                    <input type="radio" name="OneWay" value="Multicity">family & Friends
                  </div>
                  <div class="col-md-4">
                      <input type="radio" name="OneWay" value="Multicity">Student
                  </div>
                  <div class="col-md-4">
                    <input type="radio" name="OneWay" value="Multicity">Minor
                  </div>
                  <div class="col-md-4">
                    <button type="submit" class="button">Search Flights</button>
                  </div>
                </div>
            </form> -->

          </section>