<div class="title section">
    <div class="container container-mob">
        <h1 class="static-common-title">Contact us<i class="icon-arrow d-block d-sm-none show-in-col-md-10"></i></h1>
    </div>


    <div>
        <div class="addresscards section">
            <div class="container container-mob">
                <div class="office-add-tupple">
                    <div class="row">
                        <div class="col-12 col-sm-7">
                            <h3 class="static-common-subtitle">Registered Office </h3>
                            <p>CIN : L62100DL2004PLC129768</p>
                            <p>Central Wing, Ground Floor, Thapar House, 124, Janpath, New Delhi – 110001 India.</p>
                            <p><i class="fas fa-fax">&nbsp;&nbsp;</i>Fax : +91 11-43513200</p>
                            <p><i class="fas fa-envelope">&nbsp;&nbsp;</i>Email : corporate@goindigo.in</p>
                            <p>For comments, concerning Civil Aviation Requirement, Section -3, please contact:</p>
                            <p><span>Air Transport, Series M, Part IV write to Nodal Officer, Minizes Thomas at <a
                                        href="#">NodalOfficer@goindigo.in</a>.</span> <span>Appellate authority, Priyaah
                                    Sundaraam at <a href="#">AppellateAuthority@goindigo.in</a>.</span></p>

                        </div>
                        <div class="col-12 col-sm-5">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3502.1725069146296!2d77.21591051508244!3d28.624591482420904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd4aa6593559%3A0x72176f451d64a756!2sThapar+House%2C+124%2C+Janpath+Ln%2C+Janpath%2C+Connaught+Place%2C+New+Delhi%2C+Delhi+110001!5e0!3m2!1sen!2sin!4v1511266376063"
                                width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
                <div class="office-add-tupple">
                    <div class="row">
                        <div class="col-12 col-sm-7">
                            <h3 class="static-common-subtitle">Corporate Office</h3>
                            <p>Level 1, Tower C, Global Business Park, Mehrauli-Gurgaon Road, Gurgaon – 122 002,
                                Haryana, India.</p>
                            <p><i class="fas fa-phone">&nbsp;&nbsp;</i>Tel : +91 (0)124 435 2500</p>
                            <p><i class="fas fa-fax">&nbsp;&nbsp;</i>Fax : +91 (0)124 406 8536</p>

                        </div>
                        <div class="col-12 col-sm-5">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3506.9594775660244!2d77.09989176542334!3d28.48076698247786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1ed12c385fed%3A0x64bd150ae2f2ebe9!2sIndiGo!5e0!3m2!1sen!2sin!4v1508898879078"
                                width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
        <div class="tiles-grid section">
            <div class="container container-mob">
                <div class="contact-other-loc">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-space">
                            <div class="top-five-faqs section">
                                <div class="wrapInnerPolicies">
                                    <div class="wrapQuarter">
                                        <div class="wrapQuarter">

                                            <span>Top 5 FAQs</span>
                                        </div>


                                    </div>

                                    <br>
                                    <div class="card" id="d1">
                                        <a href="#"><span>What is web checkin? <i
                                                    class="fas fa-caret-down">&nbsp;&nbsp;</i></span>&nbsp;</a>
                                        <a hreef="#"><span>What if exceed by free baggage weight allowance? <i
                                                    class="fas fa-caret-down"></i></span>&nbsp;</a>
                                        <a href="#"><span>Who can i change/cancle my reservation? <i
                                                    class="fas fa-caret-down">&nbsp;&nbsp;</i></span>&nbsp;</a>
                                        <a href="#"><span>What is kiosk Chek-in? <i
                                                    class="fas fa-caret-down">&nbsp;&nbsp;</i></span>&nbsp;</a>
                                        <a href="#"><span>Can i alter my name in-case i am uable to travel <i
                                                    class="fas fa-caret-down">&nbsp;&nbsp;</i></span>&nbsp;</a>
                                        <a href="#"> <span>See all FAQs <i class="fas fa-caret-down">
                                                </i></span>&nbsp;</a>
                                    </div>
                                </div>
                            </div>
<br><br>
                            <div id="ask" class="col-12 col-sm-6 col-space card">
                                <div class="ask-us-questions section">

                                    <div class="contact-ques faq-tile-item askus clearfix">
                                        <div class="ques-illustration">
                                            <picture>
                                                <img src="/content/dam/indigov2/6e-website/contact-us/AskUsQuestion.png"
                                                    data-src="/content/dam/indigov2/6e-website/contact-us/AskUsQuestion.png"
                                                    class=" lazyloaded" alt="">
                                            </picture>
                                        </div>
                                        <div class="content-blck">
                                            <h2>Ask us</h2>
                                        </div>
                                        <div>
                                            <p>We have the answers to all your queries</p>
                                        </div>

                                        <form class="ig-form-validation" novalidate="">
                                            <div class="ig-input-group askus-topic askus-questions">
                                                <label class="field-label">Select Topic</label>
                                                <span class="common-select">
                                                    <select name="" id="askus"
                                                        class="form-control selectpicker categorydropdown"
                                                        data-live-search="true">
                                                        <option value="" selected="">Select Topic</option>


                                                        <option value="#">Reservations</option>

                                                        <option value="#">Aircraft and Routes </option>

                                                        <option value="#">Dubai Airport Change</option>

                                                        <option value="#">Lost/Mishandled Baggage</option>

                                                        <option value="#">Payment Alerts</option>

                                                        <option value="">6E Fares</option>

                                                        <option value="#">Passengers with Special Needs</option>

                                                    </select>
                                                </span>
                                            </div>
                                            <a href="" target="_blank" class="get-answers btn btn-primary">
                                                Get Answers
                                            </a>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


                <div class="col-12 col-sm-6 col-space">
                </div>
                <!-- <div class="col-12 col-sm-6 col-space" -->
                    <div class="col-md-8">
                    <div class="international-reservation-centers section">




                        <div class="contact-ques clearfix contact-other-countries faq-tile-item rcenters border " id="2d">
                            <div class="content-blck int-reserve-blck">
                                <h2>International Reservation Centres</h2>
                                <form class="ig-form-validation" novalidate="">
                                    <div class="ig-input-group countryDropDown">
                                        <label class="field-label">Select Country</label>
                                        <span class="common-select">
                                            <select id="country-select" class="select-picker" require="">
                                                <option value="Bahrin">Bahrain</option>

                                                <option value="bangladesh">Bangladesh</option>

                                                <option value="canada">Canada</option>

                                                <option value="India">India</option>

                                                <option value="Japan">Japan</option>

                                                <option value="Kuwait">Kuwait</option>

                                                <option value="quman">Oman</option>

                                                <option value="USA">USA</option>
                                            </select>
                                        </span>

                                    </div>
                                </form>
                            </div>


                            <!--<div class="country-add float-right slide-address" data-country="1322267389">-->
                            <div class="country-carousel slick-initialized slick-slider" data-entries="1"
                                data-country="1322267389">
                                <div class="slick-list draggable">
                                    <div class="slick-track"
                                        style="opacity: 1; width: 203px; transform: translate3d(0px, 0px, 0px);">
                                        <div class="slick-slide slick-current slick-active" data-slick-index="0"
                                            aria-hidden="false" style="width: 203px;">
                                            <div>
                                                <div class="country-item" style="width: 100%; display: inline-block;">
                                                    <p>World Travel</p>
                                                    <p>Service Unitag House, 150 P O Box 830, Manama, Bahrain</p>
                                                    <p>Tel: 17225650, 17210277</p>
                                                    <p>Email: <a href="#"
                                                            tabindex="0">info@worldtravelservice-bh.com</a></p>

                                                    <a href="#" tabindex="0">
                                                        <img src="/etc/designs/indigo/clientlib-travel-information/site/images/gmap.png"
                                                            data-src="/etc/designs/indigo/clientlib-travel-information/site/images/gmap.png"
                                                            class=" lazyloaded">
                                                        <span class="city-name">Manama</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="country-add float-right slide-address d-none" data-country="-770596381">
                            <div class="country-carousel slick-initialized slick-slider" data-entries="1"
                                data-country="-770596381">
                                <div class="slick-list draggable">
                                    <div class="slick-track"
                                        style="opacity: 1; width: 0px; transform: translate3d(0px, 0px, 0px);">
                                        <div class="slick-slide slick-current slick-active" data-slick-index="0"
                                            aria-hidden="false" style="width: 0px;">
                                            <div>
                                                <div class="country-item" style="width: 100%; display: inline-block;">
                                                    <p>Renaissance Aviation Services Limited</p>
                                                    <p>Plot # SEF (1) 2nd&nbsp;Floor, Gulshan South Avenue</p>
                                                    <p>Bir Uttam Mir Showkat Road, Dhaka-1212, Bangladesh.</p>
                                                    <p>Tel: +88 02 9883374, H/P: +880 1711 409 704</p>
                                                    <p>Email: <a href="indigo@rasl-bd.com"
                                                            tabindex="0">indigo@rasl-bd.com</a></p>

                                                    <a href="#" class="country-map" tabindex="0">
                                                        <!--<img src="#" data-src="/etc/designs/indigo/clientlib-travel-information/site/images/gmap.png" class="lazyload">-->

                                                        <span class="city-name">Dhaka</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="country-add float-right slide-address d-none" data-country="2011108078">
                            <div class="country-carousel slick-initialized slick-slider" data-entries="2"
                                data-country="2011108078"><button class="slick-prev slick-arrow slick-disabled"
                                    aria-label="Previous" type="button" aria-disabled="true" style="">Previous</button>
                                <div class="slick-list draggable">
                                    <div class="slick-track"
                                        style="opacity: 1; width: 0px; transform: translate3d(0px, 0px, 0px);">
                                        <div class="slick-slide slick-current slick-active" data-slick-index="0"
                                            aria-hidden="false" style="width: 0px;">
                                            <div>
                                                <div class="country-item" style="width: 100%; display: inline-block;">
                                                    <p>Aviaworld, 5915 Airport Road, Suite 830</p>
                                                    <p>Mississsauga, ON L4V 1T1</p>
                                                    <p>Toll free: 1 844 297 3904,</p>
                                                    <p>Fax: 1 713 626 1905</p>
                                                    <p>Email: <a href="hou@aviaworldna.com"
                                                            tabindex="0">hou@aviaworldna.com</a></p>

                                                    <a href="#" class="country-map" tabindex="0">
                                                        <img src=""
                                                            data-src="/etc/designs/indigo/clientlib-travel-information/site/images/gmap.png"
                                                            class="lazyload">
                                                        <span class="city-name">Toronto</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="slick-slide" data-slick-index="1" aria-hidden="true"
                                            style="width: 0px;" tabindex="-1">
                                            <div>
                                                <div class="country-item" style="width: 100%; display: inline-block;">
                                                    <p>Aviaworld,1030 West Georgia Street, Suite 1214</p>
                                                    <p>Vancouver, BC V6E 2Y3</p>
                                                    <p>Toll free: 1 844 297 3904, Fax: 1 416 972 0185</p>
                                                    <p>Email : <a href="yvr@aviaworldna.com"
                                                            tabindex="-1">yvr@aviaworldna.com</a></p>
                                                    <a href="6" class="country-map" tabindex="-1">

                                                        <span class="city-name">Vancouver</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="slick-next slick-arrow" aria-label="Next" type="button" style=""
                                    aria-disabled="false">Next</button>
                            </div>
                        </div>

                        <div class="country-add float-right slide-address d-none" data-country="-2095341728">
                            <div class="country-carousel slick-initialized slick-slider" data-entries="1"
                                data-country="-2095341728">
                                <div class="slick-list draggable">
                                    <div class="slick-track"
                                        style="opacity: 1; width: 0px; transform: translate3d(0px, 0px, 0px);">
                                        <div class="slick-slide slick-current slick-active" data-slick-index="0"
                                            aria-hidden="false" style="width: 0px;">
                                            <div>
                                                <div class="country-item" style="width: 100%; display: inline-block;">
                                                    <p>TAL Aviation</p>
                                                    <p>29, Ben Yehuda Street, Tel-Aviv 61264</p>
                                                    <p>Israel</p>
                                                    <p>Tel: + 972 3 7952133</p>
                                                    <p>Email: <a href="#" tabindex="0">indigo@tal-aviation.com</a></p>
                                                    <!--
      <div class="destinationsBanner section"><div class="n_desgn_destn_banner">
          
        <img title="Footer-Contact-Us" alt="Footer-Contact-Us" src="../../assets/img/Footer-Contact-Us.png">
        -->
                                                    <div>
                                                        <img src="../../assets/img/Footer-Contact-Us.png">
                                                        <div class="n_dsng_dstbantxt">
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                      

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>