/* You can add global styles to this file, and also import other style files */
@import'~bootstrap/dist/css/bootstrap.css';

/* nav {
    background: transparent !important;
    z-index: 11111 !important;
    position: absolute !important;
} */